:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg-color: #1e1e1e;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

#app {
  flex: 1 0;
  display: flex;
  align-items: stretch;
  width: 100vw;
  overflow: hidden;
}

#code {
  flex: 1.5 1 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#code-tabs {
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
  height: 60px;
  background-color: var(--bg-color);
}

#code-tabs:empty {
  display: none;
}

.code-tab {
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 17px;
  color: #999999;
  cursor: pointer;
}

.code-tab:hover {
  color: #E5E5E5;
  background-color: #E5E5E51A;
}

.code-tab.active {
  color: #E5E5E5;
}

#code-editors {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.code-editor {
  display: none;
}

.code-editor.active {
  display: block;
  flex-grow: 1;
}

#preview {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

#preview-iframe {
  flex-grow: 1;
  width: 100%;
  border: none;
}

.preview-banner {
  flex-shrink: 0;
  position: relative;
  padding: 16px 12px;
  border-bottom: 1px solid #dcdcdc;
  overflow: hidden;
  line-height: 1;
}

.preview-banner__text {
  color: #999;
}

@keyframes banner-loading {
  0% {
    transform: translateX(-100%) scaleX(1);
    opacity: 1;
  }

  25% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50%) scaleX(1.5);
  }

  75% {
    transform: translateX(100%) scaleX(0.6);
  }

  100% {
    transform: translateX(200%);
    opacity: .5;
  }
}

.preview-banner__loading {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 50%;
  height: 4px;
  background: #8af;
  transform-origin: right;
}

.preview-banner.preview-banner--loading .preview-banner__loading {
  display: block;
  animation: banner-loading 1s infinite linear;
}

.toper-bar {
  background-color: #9ca3af1a;
  padding-left: .5rem;
  padding-right: .5rem;
  opacity: .6;
  line-height: 36px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #dcdcdc;
}

.toper-bar .title span {
  font-size: .75rem;
  opacity: .5;
}

.items-right {
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
}

.items-right .github-link {
  --quark-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M5.884 18.653c-.3-.2-.558-.455-.86-.816a50.59 50.59 0 0 1-.466-.579c-.463-.575-.755-.841-1.056-.95a1 1 0 1 1 .675-1.882c.752.27 1.261.735 1.947 1.588c-.094-.117.34.427.433.539c.19.227.33.365.44.438c.204.137.588.196 1.15.14c.024-.382.094-.753.202-1.095c-2.968-.726-4.648-2.64-4.648-6.396c0-1.24.37-2.356 1.058-3.292c-.218-.894-.185-1.975.302-3.192a1 1 0 0 1 .63-.582c.081-.024.127-.035.208-.047c.803-.124 1.937.17 3.415 1.096a11.73 11.73 0 0 1 2.687-.308c.912 0 1.819.104 2.684.308c1.477-.933 2.614-1.227 3.422-1.096c.085.013.158.03.218.05a1 1 0 0 1 .616.58c.487 1.216.52 2.296.302 3.19c.691.936 1.058 2.045 1.058 3.293c0 3.757-1.674 5.665-4.642 6.392c.125.415.19.878.19 1.38c0 .665-.002 1.299-.007 2.01c0 .19-.002.394-.005.706a1 1 0 0 1-.018 1.958c-1.14.227-1.984-.532-1.984-1.525l.002-.447l.005-.705c.005-.707.008-1.337.008-1.997c0-.697-.184-1.152-.426-1.361c-.661-.57-.326-1.654.541-1.751c2.966-.333 4.336-1.482 4.336-4.66c0-.955-.312-1.744-.913-2.404A1 1 0 0 1 17.2 6.19c.166-.414.236-.957.095-1.614l-.01.003c-.491.139-1.11.44-1.858.949a1 1 0 0 1-.833.135a9.626 9.626 0 0 0-2.592-.349c-.89 0-1.772.118-2.592.35a1 1 0 0 1-.829-.134c-.753-.507-1.374-.807-1.87-.947c-.143.653-.072 1.194.093 1.607a1 1 0 0 1-.189 1.045c-.597.655-.913 1.458-.913 2.404c0 3.172 1.371 4.328 4.322 4.66c.865.097 1.202 1.177.545 1.748c-.193.168-.43.732-.43 1.364v3.15c0 .985-.834 1.725-1.96 1.528a1 1 0 0 1-.04-1.962v-.99c-.91.061-1.661-.088-2.254-.485'/%3E%3C/svg%3E");
  mask: var(--quark-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em;
  font-size: 1.25rem;
  line-height: 1.75rem;
  opacity: .75;
}
.items-right .github-link:hover {
  opacity: 1;
}