:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg-color: #1e1e1e;
}

body {
  margin: 0;
}

#app {
  display: flex;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#code {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#code-tabs {
  flex-shrink: 0;
  display: flex;
  padding: 8px 0 8px 8px;
  background-color: var(--bg-color);
}

#code-tabs:empty {
  display: none;
}

.code-tab {
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 16px;
  color: #999999;
  cursor: pointer;
}

.code-tab:hover {
  color: #E5E5E5;
  background-color: #E5E5E51A;
}

.code-tab.active {
  color: #E5E5E5;
}

#code-editors {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.code-editor {
  display: none;
}

.code-editor.active {
  display: block;
  flex-grow: 1;
}

#preview {
  flex: 1 1 0;
}

#preview-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
